
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Admin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../includes/js/admin.js"></script>
	<script src="libs/tablefilter/tablefilter.js"></script>
	<link rel="stylesheet" type="text/css" href="../includes/css/admin.css">
</head>

<body>
  <div class="container">
    <div class="titre">Nom Casino</div>
    <div class="token">
		<img src="../includes/images/icons/token.png" alt="IMG">
		<span id="tokensNumber"></span>
	</div>
    <!-- Tab links -->
    <div class="tab">
       <button class="tablinks" onclick="openPage(this, 'Jeux')">Gérer Utilisateurs</button>
      <button class="tablinks" onclick="openPage(this, 'Stats')">Stats</button>
      <button class="tablinks" onclick="openPage(this, 'Profil')">Profil</button>
    </div>
	<div class="welcome">Bienvenue, <span id="username"></span></div>
  <div class="home">
    <input type=button onClick="location.href='home.html'" value='Home'>
  </div>
    <div class="logout">
      <button id="logoutBtn"><img src="../includes/images/icons/logout.png" alt="IMG"></button>
    </div>
</div>


  <!-- Tab content -->
  <div id="Jeux" class="tabcontent">
    <h3>Historiques</h3>
    <p>Voici la liste des utilisateurs</p>
    <table id="gameTable" style="width:60%">
      <thead>
        <tr>
          <th>Pseudo</th>
          <th>Nb parties jouées</th> 
          <th>Nb parties gagnées</th>
          <th>Nb jetons gagnés</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div id="Stats" class="tabcontent">
    <h3>Stats</h3>
    <p>Voici vos statistiques</p>
    <table id="table", style="width:60%">
      <thead>
        <tr>
          <th>Type de Jeu</th>
          <th>Nb parties jouées</th> 
          <th>Nb parties gagnées</th>
          <th>Nb jetons gagnés</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table> 
  </div>

  <div id="Profil" class="tabcontent">
    <h3>Profil</h3>
    <p>Gérer votre profil</p>
    <table id="table", style="width:60%">
      <thead>
        <tr>
          <th>Pseudo</th>
          <th>Adresse mail</th>
          <th><button class="edit_mail_btn">Changer Mail</button></th> 
          <th>Mot de passe</th>
          <th><button class="edit_pwd_btn">Changer Mot de passe</button></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table> 

  </div>



</body>


<footer id ="footer">
  <div>Icons credit https://www.flaticon.com</div>
</footer>

</html>