<!DOCTYPE html>
<html lang="en">
<head>
	<title>Acceuil</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../includes/css/index.css">
</head>


<body>
	<div><img src="../includes/images/img-01.png" alt="IMG"></div>

	<div class ="Partie Acceuil"</div>
		<div><span class>Member Login</span></div>
		<div><input type="text" name="pseudo" placeholder="Pseudo"></div>
		<div><input class="input100" type="password" name="pass" placeholder="Password"></div>
		<div><button><a href="profil.html">Log In</a></button></div>


	<div class ="Partie Creation Compte"</div>
		<div><span class>Create Account</span></div>
	  	<div class="container"><label><b>Email</b></label>
	    	<input type="text" placeholder="Enter Email">
			<label><b>Password</b></label><input type="password" placeholder="Enter Password">
			<label><b>Repeat Password</b></label><input type="password" placeholder="Repeat Password">
		</div>	
	    <div class="clearfix">
	      <button type="submit" class="signupbtn">Sign Up</button>
  		</div>


	<div class ="Partie Reset Password"</div>
		<div><span class>Forgot Password?</span></div>
		<p>You can reset your password here.</p>
		<input id="email" name="email" placeholder="email address" class="form-control"  type="email">
		<button type="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">Reset Password</button>
		<input type="hidden" class="hide" name="token" id="token" value=""> 
</body>

<footer>
	<div>Forgot your Username or Password?</div>
	<div>Create your Account</div>
</footer>

</html>