<!DOCTYPE html>
<html lang="en">
<head>
	<title>Accueil</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
	<div><img src="images/img-01.png" alt="IMG"></div>

	<form action="#" id="loginDiv">
		<div>Member Login</div>
		<div><input id="nickname" type="text" placeholder="Pseudo" required></div>
		<div><input id="password" type="password" placeholder="Password" required></div>
		<div id="failConnect"></div>
		<div><input id="btnLogin" type="submit" value="Log In"></div>
	</form>

	<form action="#" id="signInDiv">
		<div>Create Account</div>
		<div><input id="signInNickname" type="text" placeholder="Pseudo" required></div>
	    <div><input id="signInEmail" type="email" placeholder="Email" required></div>
		<div><input id="signInPassword" type="password" placeholder="Mot de passe" oninput="confirmPassword()" required></div>
		<div><input id="signInPasswordConfirm" type="password" placeholder="Confirmer le mot de passe" oninput="confirmPassword()"></div>
		<div id="failSignIn"></div>
	    <div><input id="btnRegister" type="submit" value="Enregistrer"></div>
	</form>


	<form action="#" id="resetDiv">
		<div>Mot de passe oublié ?</div>
		<p>Vous pouvez réinitialiser votre mot de passe ici.</p>
		<div><input id="resetEmail" name="email" placeholder="Adresse email" type="email" required></div>
		<div><input id="btnPwdReset" type="submit" value="Envoyer"></div>
	</form>
</body>

<footer>
	<div onClick="showResetDiv()">Forgot your Username or Password?</div>
	<div onClick="showSignInDiv()">Create your Account</div>
	<div onClick="showLoginDiv()">Login</div>
</footer>

</html>