<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V1</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="profil.css">
</head>
<body>
  <div class="title">
    <b>Stats</b>
  </div>
  <div class="textarea">
    

At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
  
  </div>



  

</body>
<footer>
<div class="text-center p-t-12">
  <a class="txt2" href="index.html">
    Retour Acceuil
  </a>
</div>
</footer>

</html>

